:root {
    --azul-oscuro: #597CFF; /* Azul */
    --azul-claro: #F2F4FF;
    --azul-black: #092e5e;
    --secondary-color: #e74c3c; /* Rojo */
    --letras-body: #5e5f61; /*letras*/
    --letras-footer: #e0e0e0;
    --portada-claro:#EAE6E3;
    --portada-oscuro:#CABB9E;
    --marron: #2B3D37;
    --sombra-caja: #929599;

  }