@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: ProximaNova, Montserrat, sans-serif;
    font-size: 100%; // default navegadores 16px
    color: #5e5f61;
}
h1{
    text-align: center;
    padding-top: 3rem;
    font-size: 2.3rem;
    font-weight: 600;
}

a.nav-bar__nav-link:link{
    color: #5e5f61;  
    text-decoration: none;
 }
 a.nav-bar__nav-link:visited{
     background: #F2F4FF; 
 }
 a.nav-bar__nav-link:hover{
     color:  #5e5f61;
 }
 a.nav-bar__nav-link:visited{
     color:  #5e5f61;
 }

.search-bar__form-label{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 700;
    color: #2B3D37;
   
}
.search-bar__form-search{
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    padding: 0.5rem;
    font-weight: 300;
    color: #2B3D37;
}
.nav-car li{
    font-family: ProximaNova, Montserrat, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: underline
}

.end__bottom{
    text-decoration: none;
    color: #F2F4FF;
    font-size: 1.5em;
    text-transform: capitalize;
}
.detalles h3{
    color: #F2F4FF;
    font-size: 1.2em;
}
.para h3{
    color: #F2F4FF;
    font-size: 1.2em;
}

.txt-food{
    text-transform: uppercase;
    font-size: 1.6em;
    color: #003399;
    font-weight: 900;
    text-shadow: 1px 1px 5px  #2058d2;
}
.year-parr{
    font-size: 1.1em;
    font-weight: 700;
    text-transform: initial;
    text-decoration: underline;
}
.historia__year p{
    text-align: justify;
}









footer{
    background-color: #2F2F30;
    color: #e0e0e0; 
}
a.food__link:link{
   color: #e0e0e0;  
   text-decoration: none;
}
a.food__link:visited{
    background: #2B3D37; 
}
a.food__link:hover{
    color:  #e0e0e0;
}
a.food__link:visited{
    color:  #e0e0e0;
}