@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

    @media (max-width: 768px){
      box-sizing: unset;
    }

}

main{
  margin: 0 2.3rem;
  padding: 0 0.5rem;
    @media (max-width: 768px){
      // width: 42.3rem;
      margin: 0;
    }

}
body{
//   font-family: "Jersey 25", sans-serif;
  // width: 80rem;
}
.section-cards {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}